<header>
	<div class="inner-wrap">
		<a href="/" class="logo">
			<span class="icon-kuluar-logo"></span>
			<span class="logo-text">
				<span class="logo-text-top">kuluar</span>
				<span class="logo-text-bot">kuluarpohod.com</span>
			</span>
		</a>
		
		<nav class="main-nav">
			<ul class="main-menu">
				<li class="menu-item">
					<a href="#">Восхождения</a>
					<ul class="submenu">
						<li><a href="#">Корпоративные походы</a></li>
						<li><a href="#">Подари другу горы</a></li>
						<li><a href="#">Горные сувениры</a></li>
					</ul>
				</li>
				<li class="menu-item"><a href="#">Походы</a></li>
				<li class="menu-item"><a href="#">Регионы</a></li>
				<li class="menu-item"><a href="#">Гиды</a></li>
				<li class="menu-item"><a href="#">Отзывы</a></li>
				<li class="menu-item"><a href="#">Полезное</a></li>
				<li class="menu-item"><a href="#">Контакты</a></li>
			</ul>
		</nav>
		
		<div class="numbers-phone">
			<button class="arrow-btn js-arrow-btn icon-down-dir" data-target="js-arrow-btn"></button>
			<a class="num" href="tel:380981614785">+38 098-161-47-85</a>
			<div class="numbers-phone-hidden">
				<a class="num" href="tel:380981614785">+38 098-161-47-85</a>
				<a class="num" href="tel:380981614785">+38 098-161-47-85</a>
			</div>
		</div>
		
		
	</div>
</header>
