<div class="top-screen">
    <div class="layer-container">
        <div class="layer-back">
            <picture>
                <source type="image/webp" srcset="images/top-screen-bg-1.webp" media="(min-width: 800px)">
                <source type="image/webp" srcset="images/top-screen-bg-1.webp">
                <source type="image/jpeg" srcset="images/top-screen-bg-1.jpg" media="(min-width: 800px)">
                <source type="image/jpeg" srcset="images/top-screen-bg-1.jpg">
                <img src="images/top-screen-bg-1.jpg" alt="">
            </picture>
        </div>
        <div class="inner-wrap"></div>
    </div>
</div>
